.checkbox-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 1rem;
}

.radio-group {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 0.5rem;
}

@media (min-width: 1280px) {
  .checkbox-group {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
