@tailwind base;
@tailwind components;
@tailwind interactivity;
@tailwind utilities;

@import './base.css';
@import './controls.css';

:root {
  --view-height: calc(100vh - 4rem);
  --color-emergency: #911;
  --color-error: var(--color-emergency);
}

#app,
#__nuxt {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  /* padding: 0; */
  font-weight: normal;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
}

a,
.primary {
  text-decoration: none;
  /* color: hsla(160, 100%, 37%, 1); */
  /* color: var(--gcore-primary); */
  transition: 0.4s;
  padding: 3px;
}

h1 {
  line-height: 1;
}

button {
  @apply py-1 px-2;
  /* background-color: #000;
  background-image: url('/img/slick-bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff; */
  /* text-transform: uppercase;
  font-weight: bold; */
  @apply text-slate-900 border rounded border-slate-500;
}

button:disabled {
  @apply bg-slate-300 text-slate-700;
}

button.primary {
  @apply py-1 px-4 font-semibold text-white bg-black;
  background-color: #000;
  background-image: url('/img/slick-bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-transform: uppercase;
}

button.primary:disabled {
  opacity: 0.5;
}

button.secondary {
  border-radius: 2px;
  font-size: 1rem;
}

a:link,
a:visited,
a:active,
a:focus,
a:hover {
  @apply text-orange-600;
}

@media (hover: hover) {
  a:hover {
    /* background-color: hsla(160, 100%, 37%, 0.2); */
    background-color: hsla(18, 100%, 50%, 0.1);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 100px;
    padding: 0 2rem;
  }

  :root {
    --view-height: 100vh;
  }
}